<p>We're making some really cool stuff that we hope to share with you soon.</p>

<p>You can follow Idle Fusion on <a href="http://twitter.com/idlefusion" rel="external nofollow">Twitter</a>and <a href="http://facebook.com/idlefusion" rel="external nofollow">Facebook</a>. 

<p>If you are feeling adventurous, sign up below to be notified when we launch future products.</p>

<form action="/signup">
  <input id="email" name="email" type="email" placeholder="your@email.com"/>
  <button type="submit">I'm Interested</button>
</form>

<div id="notices">
	<div id="success" style="display: none;">Success! You're on the list.</div>
	<div id="error" style="display: none;">Sorry, we couldn't validate your email. Try again?</div>
</div>